@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; /*to avoid scrollbars?*/
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
  color: black;
}
h1 {
  display: flex;
  color: springgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 32%;
  margin-top: 5%;
  align-content: center;
}
h2 {
  display: flex;
  color: springgreen;
  position: relative;
  margin-left: 42%;
  align-items: center;
}
h3 {
  color: springgreen;
  margin-left: 52%;
  align-items: center;
}

.container {
  position: relative;
  background-color: black;
  transform-origin: top left;
  transition: transform 0.5s linear; /* rotate smooth and not flick open*/
  width: 100vw; /* take up the w and h viewports*/
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed; /* the circle in the top left fixed position top and left with negative putting it half off screen */
  top: -100px;
  left: -100px;
}

.circle {
  background-color: black; /*create the the cirle position at relative to place the fa-a buttons in absolute position */
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg); /* */
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: springgreen;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: springgreen;
  margin: 40px 0;
  transform: translateX(-100%); /*hide off screen on X axis */
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
}

.content img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  border: solid springgreen;
}
.content {
  max-width: 1100px;
  margin: 53px auto;
}

.content small {
  color: 3555;
  font-style: italic;
}
.content h1 {
  display: flex;
  position: absolute;
}

.content p {
  color: black;
  line-height: 1.5;
}
a {
  color: springgreen;
}
.logo {
  position: absolute;
  left: 80%;
  height: 100px;
  border-bottom-left-radius: 75%;
  border-bottom-right-radius: 70%;
  opacity: 0.2;
}
